<div class="col-md-6 offset-md-3 mt-5 pt-5">

  <div class="card">

    <h4 class="card-header">TapTrack Profile</h4>

    <div class="card-body">

      <div class="outer-flex-container">

        <div class="outer-flex-item-column1 color1">
          <img class="avatar" src="https://www.dealer.volvotrucks.co.uk/content/dam/volvo-media/list-icons/user.svg"
               width="120" height="120">
        </div>

        <div class="outer-flex-item-column2 color2">

          <label>Username</label>
          <input type="text" value="Test Testovich">

          <label>Email</label>
          <input type="text" value="test@pochta.com">

        </div>

      </div>
    </div>
  </div>
</div>
