<div class="col-md-6 offset-md-3 mt-5 pt-5">

  <div class="card">

    <div class="card-header">
      <div>Profile</div>
    </div>

    <div class="card-body color4 body">

      <mat-tab-group class="tab-group">
        <mat-tab label="Общая" (click)="getProfile()">

          <div class="tap-content">
            <div class="outer-flex-container">

              <div class="outer-flex-item-column1 color1">
                <div>
                  <img class="avatar"
                       src="https://www.dealer.volvotrucks.co.uk/content/dam/volvo-media/list-icons/user.svg"
                       width="150" height="150">
                </div>
              </div>

              <div class="outer-flex-item-column2 color2">
                <div class="inner-flex-container color3">

                  <div class="form-element">
                    <h4>Username
                      <a href="javascript:void(0);" (click)="enableUserNameEdit()"><u>edit</u></a>
                    </h4>
                    <input id="userNameInput" type="text" class="form-control" placeholder="Имя пользователя"
                           aria-label="Имя пользователя"
                           aria-describedby="basic-addon1"
                           value="{{userProfile.userName}}"
                           [disabled]="!isNameEdit">
                    <div *ngIf="isNameEdit">
                      <button type="submit" class="edit-name-btn btn btn-primary btn-sm" (click)="saveUserNameEdit()">
                        Save
                      </button>
                      <button type="submit" class="edit-name-btn btn btn-secondary btn-sm"
                              (click)="cancelUserNameEdit()">
                        Cancel
                      </button>
                    </div>
                  </div>

                  <div class="form-element">
                    <h4>Email</h4>
                    <input type="text" class="form-control" placeholder="Почта пользователя"
                           aria-label="Почта пользователя"
                           value="{{userProfile.userEmail}}"
                           aria-describedby="basic-addon1"
                           [disabled]="true">
                  </div>

                  <div class="form-element">
                    <label for="file">Upload avatar</label>
                    <form [formGroup]="form" (ngSubmit)="saveNewProfileImage()">
                      <input type="file"
                             id="file"
                             (change)="handleFileInput($event.target.files)">
                      <button [disabled]="!isFileLoaded" type="submit" class="upld-img btn btn-primary btn-sm"
                              (click)="saveNewProfileImage()">Save
                        image
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Проекты">
          <table mat-table [dataSource]="rowData" class="mat-elevation-z8">
            <ng-container matColumnDef="project">
              <th mat-header-cell *matHeaderCellDef>Project</th>
              <td mat-cell *matCellDef="let element">{{element.project}}</td>
            </ng-container>
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef>Position</th>
              <td mat-cell *matCellDef="let element">{{element.position}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-tab>
        <mat-tab label="Контакная информация">
          <div class="tap-content">Content 3</div>
        </mat-tab>
        <mat-tab label="Уведомления">
          <div class="tap-content">Content 4</div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
