ng-sidebar-container {
  background: #F8F9FA;
  min-width: 300px;
  max-width: 300px;
  height: 100em;
  display: flex;
  box-shadow: 0px 10px 10px 0px rgba(34, 60, 80, 0.2);
}

::ng-deep .ng-sidebar {
  background-color: #F8F9FA;
  padding: 1em 1em;
}

ng-sidebar-container a, .dropdown-btn {
  padding-top: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.article-content {
  margin: 1em 0 0 3em;
  min-width: 100%;
  max-width: 100%;
}

.menu {
  padding-left: 0;
}

ng-sidebar-container .nav {
  margin-bottom: 1em;
}

ng-sidebar-container .nav-item {
  padding: 0.1em 0 0.1em 0;
  margin-top: 0.5em;
  min-width: 100%;
}

ng-sidebar-container .nav-link {
  font-size: 16px;
  color: black;
}

.sidenav a:hover, .dropdown-btn:hover {
  color: black;
}

.selected-article {
  background-color: #4ca2ff;
  box-shadow: 0px 0px 10px 0px rgba(34, 60, 80, 0.2);
  border-radius: 10px;
  width: 100%;
  -webkit-transition: all 0.3s ease;;
  -moz-transition: all 0.3s ease;;
  -o-transition: all 0.3s ease;;
  transition: all 0.3s ease;
}

.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 10px;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
}

