<div class="col-md-4 offset-md-4 pt-5 mt-5">
  <div class="card">
    <h4 class="card-header">Create Project</h4>
    <div [ngClass]="model.logo ? 'row pt-4 pb-4' : 'p-4'">

      <div [ngClass]="model.logo ? 'pl-4 pr-1 col-md-8' : null">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" (input)="checkFields()">
          <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
          <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
        </form>
        <app-project-server-errors [serverValidationErrors]="serverValidationErrors"></app-project-server-errors>
      </div>

      <div *ngIf="model.logo" [ngClass]="model.logo ? 'pr-4 pl-1 col-md-4 pt-4' : null">
        <img [src]="imageSrc" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</div>
