<div class="container">
  <div class="mt-3">
    <div class="row">
      <div class="col-md-12">
        <h3>
          {{issueData.idVisible}}
          <span class="grey">Created By {{issueData.creator}}</span>
          <span class="grey" matTooltip="{{issueData.created | date:'d MMM YYYY HH:mm'}}">
            {{dateBeautifier.beatify(issueData.created)}}
          </span>
        </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="row">

          <div class="col-auto mr-auto">
            <h1>{{issueData.title}}</h1>
          </div>

          <div class="col-auto">
            <mat-icon class="icon ml-2 mr-1" (click)="edit()">edit</mat-icon>
            <mat-icon class="icon mr-1 ml-2" (click)="delete()">delete</mat-icon>
          </div>
        </div>
        <div style="word-wrap: break-word">{{issueData.description}}</div>

        <div class="mt-3">
          <app-comments entityType="Issue" [projectId]="issueData.projectId" [entityId]="issueData.id"></app-comments>
        </div>

      </div>
      <div class="col-md-4">
        <div class="mb-2">
          Project: <a class=""
                      style="color: #007bff; cursor: pointer;"
                      (click)="redirectToProject()">{{issueData.project}}</a>
        </div>
        <ng-select
          placeholder="Issue type"
          [items]="dropdownsSchema.issueType"
          [(ngModel)]="issueData.issueType"
          [clearable]="false"
          [searchable]="false"
          (change)="changeIssueType()"
        ></ng-select>
        <ng-select
          placeholder="Priority"
          [items]="dropdownsSchema.priority"
          [(ngModel)]="issueData.priority"
          [clearable]="false"
          [searchable]="false"
          (change)="changePriority()"
        ></ng-select>
        <ng-select
          placeholder="State"
          [items]="dropdownsSchema.state"
          [(ngModel)]="issueData.state"
          [clearable]="false"
          [searchable]="false"
          (change)="changeState()"
        ></ng-select>
        <ng-select
          placeholder="Assignee"
          [items]="dropdownsSchema.assignee"
          [(ngModel)]="issueData.assignee"
          [clearable]="false"
          [searchable]="false"
          (change)="changeAssignee()"
        ></ng-select>

        <mat-form-field style="width: 100%">
          <mat-label>Spent time</mat-label>
          <input matInput (change)="changeSpentTime()" [(ngModel)]="issueData.spent" pattern="\d+w \d+d \d+h *">
        </mat-form-field>

        <mat-form-field style="width: 100%">
          <mat-label>Estimation</mat-label>
          <input matInput (change)="changeEstimation()" [(ngModel)]="issueData.estimate" pattern="\d+w \d+d \d+h *">
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
