<div class="modal-header">
  <h4 class="modal-title pull-left">Telegram binding</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="isBase() else unbinding">
    <div *ngIf="model.isConnected else unlink">
      <form [formGroup]="form">
        <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
        <mat-slide-toggle class="col-12 mb-2" [checked]="model.isEnabled"
                          (toggleChange)="disableTelegramNotifications()">
          Notifications {{model.isEnabled ? 'enabled' : 'disabled'}}</mat-slide-toggle>
        <button type="button" class="btn btn-outline-danger" (click)="changeState()">Disconnect Telegram</button>
      </form>
    </div>
    <ng-template #unlink>
      <h4>Follow this link for Telegram connection:</h4>
      <a target="_blank" rel="noopener noreferrer" href="https://t.me/TapTrackNotificationBot?start={{model.userId}}"
         (click)="bsModalRef.hide()">Connect</a>
    </ng-template>
  </div>
  <ng-template #unbinding>
    <h3>Do you really want to disconnect Telegram?</h3>
    <small *ngIf="error">{{error}}</small>
    <button class="btn btn-outline-danger mr-2" (click)="unlinkTelegram()">Sure, remove</button>
    <button class="btn btn-outline-primary" (click)="changeState()">No, keep it</button>
  </ng-template>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div>
