/* You can add global styles to this file, and also import other style files */


@import "~@ng-select/ng-select/themes/material.theme.css";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "node_modules/ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material.scss";

.ag-theme-alpine {
  @include ag-theme-material((
    font-family: ('Inter', sans-serif),
    font-size: 18px,
    row-height: 50px,
    header-height: 40px,
    odd-row-background-color: #f4f9ff
  ));
}

html {
  font-family: 'Inter', sans-serif;
}

.black{
  color: black;
}
.darkgrey{
  color: #686767;
}
