<div class="col-md-4 offset-md-4 mt-5 pt-5">
  <div class="card">
    <h4 class="card-header">TapTrack Registration</h4>
    <div class="card-body">
      <form [formGroup]="form" (submit)="submit()">
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" name="email" formControlName="email">
          <div class="validation" *ngIf="emailControl.touched && emailControl.invalid">
            <small *ngIf="emailControl.errors.required" class="form-text text-danger">
              Email is required
            </small>
            <small *ngIf="emailControl.errors.email" class="form-text text-danger">
              Incorrect email
            </small>
            <small *ngIf="emailControl.errors.unique" class="form-text text-danger">
              This email is already used
            </small>
          </div>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input class="form-control" type="password" name="password" formControlName="password"
                 (input)="validatePassword()">
          <div class="validation" *ngIf="form.controls.password.touched && form.controls.password.invalid">
            <small *ngFor="let error of passwordErrors" class="form-text text-danger">
              {{error.message}}
            </small>
            <small *ngIf="form.controls.password.errors.required" class="form-text text-danger">
              Password is required
            </small>
          </div>
        </div>
        <div class="form-group">
          <label>Password repeat</label>
          <input class="form-control" type="password" name="password-repeat" formControlName="passwordRepeat">
          <div class="validation"
               *ngIf="form.get('password').touched && form.get('passwordRepeat').touched && form.controls.passwordRepeat.errors">
            <small *ngIf="form.controls.passwordRepeat.errors.mustMatch" class="form-text text-danger">
              Password doesn't match
            </small>
          </div>
        </div>
        <div class="form-inline">
          <div class="form-group">
            <button type="submit" class="btn btn-primary mr-2" [disabled]="form.invalid">Submit</button>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-outline-primary" (click)="redirectToLoginPage()">
              Already have an account? Login here
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
