.icon{
  color: gray;
  margin-left: 5px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;;
  -moz-transition: all 0.2s ease;;
  -o-transition: all 0.2s ease;;
  transition: all 0.2s ease;
}

.icon:hover {
  color: black;
}
