<form class="mb-1" *ngIf="fields" [formGroup]="form" (ngSubmit)="onSubmit(model)">
  <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
  <button type="submit" class="btn btn-default" [disabled]="form.invalid">Submit</button>
</form>
<div *ngIf="comments" class="pb-3">
  <div class="content-wrapper">
    <div class="content-item" *ngFor="let comment of comments | paginate: {itemsPerPage: 5, currentPage: p }">
      <h4>Created by
        <b matTooltip="{{comment.author.email}}">{{comment.author.username}}</b>
        <span matTooltip="{{comment.created | date:'d MMM YYYY HH:mm'}}">
          {{dateBeautifier.beatify(comment.created)}}
        </span>
        <span *ngIf="!comment.isDeleted">
          <mat-icon *ngIf="comment.isEditable" class="icon" (click)="goToEdit(comment)">edit</mat-icon>
          <mat-icon *ngIf="comment.isDeletable" class="icon" (click)="delete(comment)">delete</mat-icon>
        </span>
      </h4>
      <h4 *ngIf="comment.lastUpdated!==comment.created">Updated
        <span matTooltip="{{comment.lastUpdated| date:'d MMM YYYY HH:mm'}}">
          {{dateBeautifier.beatify(comment.lastUpdated)}}
        </span>
      </h4>
      <div *ngIf="!comment.isDeleted">
        <app-comment-update *ngIf="comment.mode === 'editor'" [comment]="comment"></app-comment-update>
        <md-editor *ngIf="comment.mode === 'preview'" height="100%" mode="preview" [ngModel]="comment.text"></md-editor>
      </div>
      <div *ngIf="comment.isDeleted" class="mb-2">
        <button type="button" class="btn btn-primary" (click)="restore(comment)">Restore</button>
        <button type="button" class="btn btn-danger ml-2" (click)="deletePermanently(comment)">
          Delete permanently
        </button>
        <button type="button" class="btn btn-outline-primary ml-2" (click)="showDeletedContent(comment.id)">
          Show content
        </button>
        <md-editor *ngIf="deletedCommentsFlags.get(comment.id)" height="100%" mode="preview"
                   [ngModel]="comment.text"></md-editor>
      </div>
      <hr style="height:2px">
    </div>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
