.content-wrapper{
    max-width: 1800px;
    margin: auto;
    margin-top: 30px;
}

.container-wrapper{
    display: flex;
    justify-content: space-around;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 30px;
}

.container{
    width: 400px;
}

.task{
    margin-bottom: 30px;
}

.empty-label{
    font-size: 2em;
    padding-top: 10px;
    text-align: center;
    opacity: 0.2;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms;
}

.item {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    outline: 1px solid #000;
    margin-bottom: 10px;
    cursor: pointer;
}