<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 bg-dark pt-2 h-100">
      <ul class="nav flex-column flex-nowrap">
        <li [routerLinkActive]="['link-active']">
          <a [routerLink]="['create']">Create article</a>
        </li>
      </ul>
      <accordion [isAnimated]="true" *ngFor="let project of projectsWithArticles | async as projects">
        <accordion-group heading="{{project.name}}">
          <ul class="nav flex-column flex-nowrap" *ngIf="project.articles.length > 0; else no">
            <li *ngFor="let article of project.articles" [routerLinkActive]="['link-active']">
              <a [routerLink]="['details',article.id]">{{article.title}}</a>
            </li>
          </ul>
          <ng-template #no>
            <p>Не написано ни одной статьи</p>
          </ng-template>
        </accordion-group>
      </accordion>
    </div>
    <div class="col-lg-10 pt-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
