<div class="col-md-6 offset-md-3 pt-5 mt-5">
  <tabset>
    <tab heading="General information" id="general-info-tab">

      <div class="card">
        <h4 class="card-header">Edit Project</h4>
        <form [formGroup]="form" (ngSubmit)="projectGeneralInfoSubmit()" (change)="removeServerErrors()" class="p-4">
          <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
          <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
        </form>
        <app-project-server-errors [serverValidationErrors]="serverValidationErrors"></app-project-server-errors>
      </div>
    </tab>
    <tab heading="Team invitations" id="team-invitations-tab">
      Invite team here
    </tab>
  </tabset>
</div>

