<div class="col-md-6 offset-md-3 pt-5 mt-5" *ngIf="project">
  <div class="card">
    <h4 class="card-header">Project Details</h4>
    <div [ngClass]="project.logoUrl ? 'row pt-4 pb-4' : 'p-4'">
      <div [ngClass]="project.logoUrl ? 'pl-4 pr-1 col-md-8' : null">
        <form [formGroup]="form">
          <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
          <hr>
          <button type="button" class="btn btn-primary" (click)="goToEdit()">Edit</button>
          <button type="button" class="btn btn-danger ml-2" (click)="openModal(template)">Delete</button>
          <ng-template #template>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Warning</h4>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h3>This is a potentially destructive action!</h3>
              <p>Do you really want to delete this project?</p>
              <button type="button" class="btn btn-danger" (click)="deleteProject()">Delete</button>
              <button type="button" class="btn btn-primary ml-2" (click)="modalRef.hide()">Close</button>
            </div>
          </ng-template>
        </form>
      </div>
      <div *ngIf="project.logoUrl" [ngClass]="project.logoUrl ? 'pr-4 pl-1 col-md-4 pt-4' : null">
        <img [src]="project.logoUrl" class="img-fluid rounded" style="max-height: 500px" alt="Responsive image">
      </div>
    </div>
  </div>
</div>

